.btn-join{
	background-color: transparent;
	border: 2px solid white;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Alegreya Sans', sans-serif;
	margin-bottom: 30px;
}

.btn-join:hover{
	background-color: black;
	border: none;
	color: white;
}

.btn-green{
	background-color: #426230;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Alegreya Sans', sans-serif;
	margin-bottom: 30px;
}

.btn-green:hover{
	background-color: black;
	color: white;
}